@font-face {
	font-family: 'Gilroy';
	src: url('fonts/Gilroy-Medium.ttf') format('truetype');
	font-weight: 500;
}

@font-face {
	font-family: 'Gilroy';
	src: url('fonts/Gilroy-Regular.ttf') format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: 'Gilroy';
	src: url('fonts/Gilroy-SemiBold.ttf') format('truetype');
	font-weight: 600;
}

@font-face {
	font-family: 'Gilroy';
	src: url('fonts/Gilroy-Bold.ttf') format('truetype');
	font-weight: 700;
}

@font-face {
	font-family: 'BN Chester Regular';
	src: url('fonts/BN Chester Regular.otf') format('opentype');
	font-weight: 400;
}