.our_portfolio {
	background: #F4F4F4;

	.our__container {
		.our_title {
			color: #161616;
			font-family: 'BN Chester Pro', serif;
			font-size: 40px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			text-align: center;
			@include adaptiv-value('padding-top', 75, 47, 0);
			@include adaptiv-value('padding-bottom', 85, 64, 0);

			span {
				color: #D3A265;
			}
		}

		.our_menu_wrapper {
			display: flex;
			justify-content: space-between;
			padding-bottom: 28px;


			.our_menu {
				.our_menu_list {
					display: flex;
					@include adaptiv-value('gap', 59, 12, 0);

					.our_menu_item {
						.our_menu_link {
							color: #161616;
							font-family: 'Gilroy', sans-serif;
							@include adaptiv-value('font-size', 16, 13, 0);
							font-style: normal;
							font-weight: 500;
							line-height: normal;
						}

						.our_menu_link:hover {
							color: #D3A265;
							font-weight: 700;
						}
					}
				}

			}

			.our_menu_view {
				.our_menu_view_more {
					color: #161616;
					text-align: right;
					font-family: 'Gilroy', sans-serif;
					font-size: 16px;
					font-style: normal;
					font-weight: 600;
					line-height: normal;
					text-decoration-line: underline;
				}
			}

		}

		.our_gallery {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: 1fr 1fr;
			@include adaptiv-value('gap', 30, 10, 0);
			row-gap: 20px;
			padding-bottom: 80px;

			.our_galery_img {
				max-height: 320px;

				.our_img {
					border-radius: 10px;
					max-width: 100%;
					width: 100%;
					height: 100%;
					object-fit: fill;
				}
			}
		}

		.view_buttom {
			display: none;
		}

		@media (max-width: 768px) {
			.our_gallery {
				grid-template-columns: 1fr 1fr;
			}
		}

		@media (max-width: 500px) {
			.view_buttom {
				display: block;
				padding-top: 50px;
				padding-bottom: 50px;
				color: #161616;
				font-family: 'Gilroy', sans-serif;
				font-size: 16px;
				font-style: normal;
				font-weight: 600;
				line-height: normal;
				text-decoration-line: underline;
			}

			.our_menu_wrapper {
				display: inline-block;
			}

			.view_top {
				display: none;
			}

			.our_gallery {
				grid-template-columns: 1fr;
				grid-template-rows: repeat(3, 1fr);
				padding-bottom: 0;

				.our_galery_img {
					width: 100%;
					max-height: 270px;

					.our_img {
						border-radius: 0;
					}
				}

				.our_galery_img:not(:nth-child(-n+3)) {
					display: none;
				}

			}
		}

	}

	@media (max-width: 500px) {
		.our__container {
			padding: 0;
			text-align: center;
		}

	}
}

.pricing {
	.pricing__container {
		@include adaptiv-value('padding-top', 100, 58, 0);
		padding-bottom: 100px;
		display: flex;
		flex-direction: column;
		align-items: center;

		.pricing_title {
			padding-bottom: 70px;

			.pricing_title_h1 {
				text-align: center;
				color: #161616;
				font-family: 'BN Chester Pro', serif;
				@include adaptiv-value('font-size', 40, 32, 0);
				font-style: normal;
				font-weight: bold;
				line-height: normal;

				span {
					color: #D3A265;
				}
			}
		}

		.pricing_subca_wrapper {
			display: flex;
			@include adaptiv-value('gap', 82, 30, 0);

			#main_subca {
				background: #D3A265;

				.pricing_subca_top {
					color: #FFF;
					border-bottom: 1px solid #FFF;
				}

				.pricing_subca_medium {


					.pricing_subca_medium_list {
						.pricing_subca_medium_text_item {
							color: #FFF;
						}
					}
				}


			}

			.pricing_subca {
				border-radius: 10px;
				border: 2px solid #D3A265;
				background: #FDFBF8;
				padding: 32px 38px;
				text-align: center;
				min-width: 270px;

				.pricing_subca_top {
					color: #161616;
					font-family: 'BN Chester Pro', serif;

					font-style: normal;
					font-weight: 400;
					line-height: normal;
					border-bottom: 1px solid #DCD1BB;

					.pricing_subca_title {
						@include adaptiv-value('font-size', 24, 20, 0);
						padding-bottom: 30px;
					}

					.pricing_subca_price_wrapper {
						.pricing_subca_price {
							@include adaptiv-value('font-size', 44, 28, 0);
							font-weight: bold;
						}

						.pricing_subca_date {
							@include adaptiv-value('font-size', 18, 16, 0);
							padding-bottom: 27px;
						}
					}

				}

				.pricing_subca_medium {
					padding-top: 27px;
					@include adaptiv-value('padding-bottom', 54, 35, 0);

					.pricing_subca_medium_list {
						.pricing_subca_medium_text_item {
							color: #161616;
							font-family: 'Gilroy', sans-serif;
							@include adaptiv-value('font-size', 15, 14, 0);
							font-style: normal;
							font-weight: 500;
							line-height: 180%;
						}
					}
				}

				.pricing_subca_bottom {
					.pricing_subca_bottom_button {

						background-color: #fff;
					}

					.pricing_subca_bottom_button:hover {
						background-color: #e4d9d9;
						transition: all 0.5s;
					}
				}


			}

			.pricing_subca:hover {
				transform: scale(1.1);
				transition: all 0.3s;

			}


		}

		@media (max-width:900px) {
			.pricing_subca_wrapper {
				flex-direction: column;
			}
		}

		@media (max-width:415px) {
			.pricing_subca_wrapper {
				flex-direction: column;

				#main_subca {
					.pricing_subca_top {
						.pricing_subca_price_wrapper {
							.pricing_subca_date {
								color: #FFF;

							}
						}
					}
				}

				.pricing_subca {
					padding-right: 0;
					padding-left: 0;
					padding-bottom: 0;

					.pricing_subca_top {
						display: flex;
						flex-direction: column;

						align-items: center;

						width: 80%;
						margin: 0 auto;

						.pricing_subca_price_wrapper {
							display: flex;
							gap: 14px;

							.pricing_subca_date {
								color: #BBB;

							}


						}
					}

					.pricing_subca_bottom {


						.pricing_subca_bottom_button {
							width: 100%;
							border-radius: 0px 0px 8px 8px;
							background: #D3A265;
							border-top: 1px solid #FDFBF8;

							color: #F4F4F4;

						}
					}
				}

			}
		}
	}


}