.say {
	background: #F4F4F4;

	.say__container {
		padding-bottom: 60px;

		.say_content {
			.say_content_title {
				text-align: center;
				color: #161616;
				font-family: 'BN Chester Pro', serif;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				@include adaptiv-value('font-size', 40, 32, 0);
				padding-top: 58px;
				@include adaptiv-value('padding-bottom', 87, 54, 0);

				span {
					color: #D3A265;
				}
			}


			.say_slider {
				overflow: hidden;

				.swiper-pagination {

					.swiper-pagination-bullet {
						width: 15px;
						height: 15px;
						line-height: 15px;
						font-size: 14px;
						background-color: #D3A265;
					}
				}

				.slider {
					//gap: 30px;
					padding-bottom: 80px;


					.say_block {
						@include adaptiv-value('padding-top', 36, 25, 0);
						@include adaptiv-value('padding-bottom', 36, 34, 0);
						@include adaptiv-value('padding-left', 90, 25, 0);
						@include adaptiv-value('padding-right', 43, 25, 0);
						position: relative;
						border-radius: 10px;
						background: #FFF;
						flex-grow: 0;
						flex-shrink: 0;
						@include adaptiv-value('width', 570, 354, 0);


						.say_block_top {
							display: flex;
							@include adaptiv-value('gap', 35, 15, 0);

							.say_block_top_avatar {
								border-radius: 172px;
								max-width: 172px;
								max-height: 172px;
								//@include adaptiv-value('max-width', 172, 129, 0);
								//@include adaptiv-value('max-height', 172, 129, 0);
								min-width: 129px;
								min-height: 129px;
								position: relative;
								z-index: 1;

								.say_block_avatar_img {
									border-radius: 172px;
									max-width: 100%;
									width: 100%;
									height: 100%;
									object-fit: fill;
								}

								@media (max-width:440px) {
									.say_block_avatar_img {
										height: 129px;
									}
								}
							}

							.say_block_top_perinfa {
								.say_block_top_name {
									display: flex;
									gap: 5px;
									color: #161616;
									font-family: 'Gilroy', sans-serif;
									@include adaptiv-value('font-size', 20, 16, 0);
									font-style: normal;
									font-weight: 500;
									line-height: normal;
									padding-bottom: 8px;
									@include adaptiv-value('padding-top', 30, 12, 0);

								}

								@media (max-width:414px) {
									.say_block_top_name {
										display: block;
									}

								}

								.say_block_top_work {
									color: #B5B5B5;
									font-family: 'Gilroy', sans-serif;
									@include adaptiv-value('font-size', 20, 14, 0);
									font-style: normal;
									font-weight: 500;
									line-height: normal;
									@include adaptiv-value('padding-bottom', 42, 20, 0);
									white-space: nowrap;
								}

								@media (max-width:320px) {
									.say_block_top_work {
										white-space: wrap;
									}
								}

								.say_block_top_hr {
									position: absolute;
									left: 0;
									top: 45%;
									transform: translateY(-45%);
									z-index: 0;
									width: 100%;
									height: 1px;
									background: #DCD1BB;


								}

								@media (max-width:414px) {
									.say_block_top_hr {
										top: 30%;
										transform: translateY(-25%);
									}
								}

								.say_block_top_social {
									.say_block_top_social_link {}
								}
							}
						}

						.say_block_bottom {

							@include adaptiv-value('padding-top', 30, 36, 0);


							.say_block_bottom_text {
								color: #161616;
								font-family: 'Gilroy', sans-serif;
								font-size: 16px;
								font-style: normal;
								font-weight: 400;
								line-height: 170%;
								/* 27.2px */
							}

							@media (max-width:320px) {
								.say_block_bottom_text {
									font-size: 14px;
								}
							}
						}

					}

					@media (max-width:414px) {
						.say_block {
							max-height: 378px;
						}
					}
				}





			}
		}
	}
}

.question {

	.question__container {
		display: flex;
		justify-content: center;
		align-items: center;
		@include adaptiv-value('gap', 337, 100, 0);
		@include adaptiv-value('padding-top', 73, 47, 0);
		@include adaptiv-value('padding-bottom', 73, 47, 0);

		.question_title {
			color: #161616;
			font-family: 'BN Chester Pro', serif;
			font-size: 40px;
			font-style: normal;
			font-weight: 400;
			letter-spacing: 0.2px;

			span {
				color: #D3A265;
			}
		}

		.question_button_wrapper {
			.question_button {}
		}

	}

	@media (max-width:616px) {
		.question__container {
			flex-direction: column;
			row-gap: 35px;

			.question_button_wrapper {
				width: 100%;

				.question_button {
					width: 100%;
				}
			}

		}
	}

}